/* common part styles */
.container {
  width: 1240px;
  margin: 0 auto;
}

/* ------shortcut style */
.xtx-shortcut {
  height: 52px;
  background-color: #333;
}

.xtx-shortcut .container {
  height: 52px;        
}

.xtx-shortcut ul li {
  float: left;
  line-height: 52px;
  color: #dcdcdc
}

.xtx-shortcut a {
  margin: 0 16px;
  color: #dcdcdc;
  font-size: 14px
}

.xtx-shortcut li:last-child a {
  margin-right: 0;
  
}
.xtx-shortcut li:last-child a::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 16px;
  margin-right: 8px;
  margin-top: -3px;
  background: url('../images/sprites.png') -160px -70px;
  vertical-align: middle
  
}

/* ------------main nav styles */
.xtx-main-nav {
  height: 130px;
  padding-top: 30px;
  box-sizing: border-box;
  background-color: pink;
}

.xtx-main-nav .logo {
  width: 207px;
  height: 70px;
  margin-left: 25px;
}

.xtx-main-nav .logo a {
  display: block;
  height: 70px;
  background: url('../images/logo.png');
  background-size: 100% 100%;
  font-size: 0
}